<header>
    <div class="ps-plus">
        <img src="/pics/psPlus.png" alt="PlayStation Plus">
        <a class="linkedin" href="https://www.linkedin.com/in/peter-wagner-925a32145/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <div class="pic-wrapper">
        <a class="github" href="https://github.com/PWagner86" target="_blank"><i class="fab fa-github"></i></a>
        <div class="pic"></div>
        <h5>Peter Wagner</h5>
    </div>
    <div class="achievement">
        <a href="https://pwagner86.github.io/" target="_blank"><i class="trophy fas fa-trophy"></i></a>
        <i class="star fas fa-star"></i>
        <p>Lebenslauf</p>
    </div>
    <div class="clock">
        <h6></h6>
    </div>
    <div class="mobile-ps-plus">
        <img src="/pics/psPlus.png" alt="PlayStation Plus">
    </div>
</header>