<nav class="mobile-nav">
    <ul>
        <li class="mobile-clock"></li>
        <li><a class="mobile-linkedin" href="https://www.linkedin.com/in/peter-wagner-925a32145/" target="_blank"><i class="fab fa-linkedin-in"></i> Linkedin</a></li>
        <li><a class="mobile-github" href="https://github.com/PWagner86" target="_blank"><i class="fab fa-github"></i> Github</a></li>
        <li><a href="https://pwagner86.github.io/" target="_blank"><i class="trophy fas fa-trophy"></i> Lebenslauf</a></li>
    </ul>
</nav>