<nav>
    <ul>
        <li class="cach three">
            <div class="inner-cach">
                <h4>Three.JS Livingroom</h4>
                <div class="pic-container">
                    <img src="/pics/three.png" alt="bild von virtuellem wohnzimmer">
                </div>
            </div>
            <div class="arrow">
                <i class="far fa-arrow-alt-circle-down"></i>
            </div>
        </li>        
        <li class="cach wichtel">
            <div class="inner-cach">
                <h4>Wichtel-App</h4>
                <div class="pic-container">
                    <img src="/pics/wichteln.png" alt="wichtel-app-logo">
                </div>
            </div>
            <div class="arrow">
                <i class="far fa-arrow-alt-circle-down"></i>
            </div>
        </li>        
        <li class="cach dashboard">
            <div class="inner-cach">
                <h4>Create your <br> Dashboard</h4>
                <div class="pic-container">
                    <img src="/pics/dashboard.png" alt="create-your-dashboard-logo">
                </div>
            </div>
            <div class="arrow">
                <i class="far fa-arrow-alt-circle-down"></i>
            </div>
        </li>
        <li class="cach visualizer">
            <div class="inner-cach">
                <h4>Livingroom <br> Visualizer</h4>
                <div class="pic-container">
                    <img src="/pics/visualizer.png" alt="livingroom-visualizer-logo">
                </div>
            </div>
            <div class="arrow">
                <i class="far fa-arrow-alt-circle-down"></i>
            </div>
        </li>
        <li class="cach banner">
            <div class="inner-cach">
                <h4>AXA <br> Banneranimation</h4>
                <div class="pic-container">
                    <img src="/pics/axa_logo.png" alt="axa-logo">
                </div>
            </div>
            <div class="arrow">
                <i class="far fa-arrow-alt-circle-down"></i>
            </div>
        </li>
        <li class="cach skills">
            <div class="inner-cach">
                <h4>Skills</h4>
                <div class="icon-wrapper">
                    <i class="fas fa-cogs"></i>
                </div>
            </div>
            <div class="arrow">
                <i class="far fa-arrow-alt-circle-down"></i>
            </div>
        </li>
        <li class="cach contact">
            <div class="inner-cach">
                <h4>Contact</h4>
                <div class="icon-wrapper">
                    <i class="far fa-envelope"></i>
                </div>
            </div>
            <div class="arrow">
                <i class="far fa-arrow-alt-circle-down"></i>
            </div>
        </li>
    </ul>
</nav>
<a href="" target="_blank"></a>