<nav>
    <ul>
        <li class="cach"></li>
        <li class="cach"></li>
        <li class="cach skills">
            <h4>Skills</h4>
            <div class="icon-wrapper">
                <i class="fas fa-cogs"></i>
            </div>

        </li>
        <li class="cach contact">
            <h4>Contact</h4>
            <div class="icon-wrapper">
                <i class="far fa-envelope"></i>
            </div>
        </li>
    </ul>
</nav>