@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
header {
  height: 20vh;
  display: flex;
  z-index: 1;
}
header .ps-plus {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
header .ps-plus img {
  height: 8vmin;
  width: auto;
  padding: 0 2rem;
}
header .ps-plus .linkedin {
  width: 8vmin;
  height: 8vmin;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 50%;
  background: white;
}
header .ps-plus .linkedin i {
  font-size: 5vmin;
  color: #255792;
}
header .ps-plus .linkedin::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 1vmin solid transparent;
  border-right: 1vmin solid transparent;
  border-bottom: 2vmin solid white;
  bottom: 10%;
  left: 80%;
}
header .pic-wrapper {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
header .pic-wrapper .github i {
  font-size: 8vmin;
  color: white;
}
header .pic-wrapper .pic {
  position: relative;
  width: 5vmin;
  height: 5vmin;
  border-radius: 50%;
  background-image: url("../pics/ich.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 4rem;
}
header .pic-wrapper .pic::before {
  content: "";
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  border-radius: 50%;
  background: radial-gradient(#36b4e6, 70%, white);
  top: 50%;
  transform: translateY(-50%);
  right: 120%;
}
header .pic-wrapper h5 {
  font-size: 3vmin;
  padding: 0 2rem;
  font-weight: 100;
  color: white;
}
header .achievement {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
header .achievement .trophy {
  font-size: 7vmin;
  color: white;
}
header .achievement .star {
  font-size: 3vmin;
  padding: 0 1rem;
  color: #f3e141;
}
header .achievement p {
  font-size: 3vmin;
  font-weight: 100;
  color: white;
}
header .clock {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
header .clock h6 {
  font-size: 3vmin;
  font-weight: 100;
  color: white;
}

nav {
  height: 20vh;
  width: 100%;
  z-index: 1;
}
nav ul {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}
nav ul .cach {
  width: 15vmin;
  height: 15vmin;
  transition: ease-in-out 0.1s;
  margin: 0 0.5rem;
}
nav ul .cach .inner-cach {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #112b5e, #001434);
  transition: ease-in-out 0.1s;
}
nav ul .cach .inner-cach h4 {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 4vmin;
  font-weight: 100;
  color: white;
}
nav ul .cach .inner-cach .icon-wrapper {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
nav ul .cach .inner-cach .icon-wrapper i {
  font-size: 7vmin;
  color: white;
}
nav ul .cach .arrow {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  background: rgba(255, 255, 255, 0.103);
}
nav ul .cach .arrow i {
  font-size: 3vmin;
  color: white;
}
nav ul .cach:hover {
  width: 20vmin;
  height: 20vmin;
  border: solid white 3px;
}
nav ul .cach:hover .inner-cach {
  height: 80%;
}
nav ul .cach:hover .arrow {
  display: flex;
}
nav ul .dashboard .inner-cach,
nav ul .visualizer .inner-cach,
nav ul .banner .inner-cach {
  position: relative;
}
nav ul .dashboard .inner-cach h4,
nav ul .visualizer .inner-cach h4,
nav ul .banner .inner-cach h4 {
  font-size: 2vmin;
  text-align: center;
}
nav ul .dashboard .inner-cach .pic-container,
nav ul .visualizer .inner-cach .pic-container,
nav ul .banner .inner-cach .pic-container {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
nav ul .dashboard .inner-cach .pic-container img,
nav ul .visualizer .inner-cach .pic-container img,
nav ul .banner .inner-cach .pic-container img {
  width: auto;
  height: 80%;
}
nav ul .dashboard .inner-cach .pic-container img {
  width: 90%;
  height: auto;
}

.preview {
  height: 60vh;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.preview h4 {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 6vmin;
  font-weight: 300;
  color: white;
}
.preview .prev-cach {
  width: 25vmin;
  height: 25vmin;
  background: rgba(0, 0, 0, 0.527);
  box-shadow: 0 0 10px black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 0.5rem;
}

.skills-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.skills-wrapper .upper,
.skills-wrapper .lower {
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.skills-wrapper .upper .prev-cach img,
.skills-wrapper .lower .prev-cach img {
  width: 100%;
  height: auto;
}
.skills-wrapper .upper .css {
  background: #1194cc;
}

.contact-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.contact-wrapper .ct-wrapper {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.contact-wrapper .ct-wrapper .mail {
  width: 60vmin;
  height: 40vmin;
}
.contact-wrapper .ct-wrapper .phone {
  width: 40vmin;
  height: 40vmin;
}
.contact-wrapper .ct-wrapper a {
  font-size: 4vmin;
  color: white;
  font-weight: 100;
}

.canvas-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: rotate(180deg);
}
.canvas-wrapper #canvas {
  position: absolute;
}

.project-wrapper {
  max-width: 1560px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.project-wrapper .description {
  width: 50%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.project-wrapper .description p {
  font-size: 2.7vmin;
  color: white;
  font-weight: 100;
}
.project-wrapper .description a {
  color: white;
  font-size: 4vmin;
  font-weight: 900;
}
.project-wrapper .project-pics {
  width: 50%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.project-wrapper .project-pics .project-pic {
  width: 45%;
  height: 45%;
  margin: 0;
  transition: ease-in-out 0.1s;
}
.project-wrapper .project-pics .project-pic img {
  width: 90%;
  height: auto;
}
.project-wrapper .project-pics .project-pic .logo {
  width: 60%;
  height: auto;
}
.project-wrapper .project-pics .project-pic:hover {
  border: solid white 3px;
  width: 55%;
  height: 55%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mukta", sans-serif;
  height: 100vh;
  min-width: 100vw;
  background: linear-gradient(145deg, #6b98cc, #112b5e, #001434);
}

li {
  list-style: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

button,
input[type=submit] {
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
