@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
header {
  height: 20vh;
  display: flex;
}
header .ps-plus {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
header .ps-plus img {
  height: 8vmin;
  width: auto;
  padding: 0 2rem;
}
header .ps-plus .linkedin {
  width: 8vmin;
  height: 8vmin;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 50%;
  background: white;
}
header .ps-plus .linkedin i {
  font-size: 5vmin;
  color: #255792;
}
header .ps-plus .linkedin::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 1vmin solid transparent;
  border-right: 1vmin solid transparent;
  border-bottom: 2vmin solid white;
  bottom: 10%;
  left: 80%;
}
header .pic-wrapper {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
header .pic-wrapper .github i {
  font-size: 8vmin;
  color: white;
}
header .pic-wrapper .pic {
  position: relative;
  width: 5vmin;
  height: 5vmin;
  border-radius: 50%;
  background-image: url("../pics/ich.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 4rem;
}
header .pic-wrapper .pic::before {
  content: "";
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  border-radius: 50%;
  background: radial-gradient(#36b4e6, 70%, white);
  top: 50%;
  transform: translateY(-50%);
  right: 120%;
}
header .pic-wrapper h5 {
  font-size: 3vmin;
  padding: 0 2rem;
  font-weight: 100;
  color: white;
}
header .achievement {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
header .achievement .trophy {
  font-size: 7vmin;
  color: white;
}
header .achievement .star {
  font-size: 3vmin;
  padding: 0 1rem;
  color: #f3e141;
}
header .achievement p {
  font-size: 3vmin;
  font-weight: 100;
  color: white;
}
header .clock {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
header .clock h6 {
  font-size: 3vmin;
  font-weight: 100;
  color: white;
}

nav {
  height: 40vh;
  width: 100%;
}
nav ul {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
}
nav ul .cach {
  width: 30vmin;
  height: 30vmin;
  border: solid white 2px;
  transition: ease-in-out 0.3s;
}
nav ul .cach h4 {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 5vmin;
  font-weight: 100;
  color: white;
}
nav ul .cach .icon-wrapper {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
nav ul .cach .icon-wrapper i {
  font-size: 10vmin;
  color: white;
}
nav ul .cach:hover {
  width: 35vmin;
  height: 35vmin;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mukta", sans-serif;
  height: 100vh;
  min-width: 100vw;
  background: linear-gradient(145deg, #6b98cc, #255792, #112b5e, #001434);
  overflow: hidden;
}

li {
  list-style: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

button,
input[type=submit] {
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
