@use '../styleHelper/' as *;

nav{
    height: 20vh;
    width: 100%;
    // overflow: auto;
    z-index: 1;
    transition: ease-in-out 2s;

    ul{
        height: 100%;
        // width: 120%;
        width: 100%;
        @include flex(center, flex-start, row);

        .cach{
            width: 15vmin;
            height: 15vmin;
            transition: ease-in-out 0.1s;
            margin: 0 0.5rem;

            .inner-cach{
                width: 100%;
                height: 100%;
                background: linear-gradient(to bottom, $blue3, $blue4);
                transition: ease-in-out 0.1s;

                h4{
                    width: 100%;
                    height: 40%;
                    @include flex(center, center, row);
                    font-size: 4vmin;
                    font-weight: 100;
                    color: white;
                }
    
                .icon-wrapper{
                    width: 100%;
                    height: 60%;
                    @include flex(center, center, row);
    
                    i{
                        font-size: 7vmin;
                        color: white;
                    }
                }
            }

            .arrow{
                display: none;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 20%;
                background: rgba(255, 255, 255, 0.103);

                i{
                    font-size: 3vmin;
                    color: white;
                }
            }

            &:hover{
                width: 20vmin;
                height: 20vmin;
                border: solid white 3px;

                .inner-cach{
                    height: 80%;
                }

                .arrow{
                    display: flex;
                }
            }
        }
        .dashboard,
        .dino,
        .visualizer,
        .banner,
        .wichtel,
        .three{

            .inner-cach{
                position: relative;

                h4{
                    font-size: 2vmin;
                    text-align: center;
                }

                .pic-container{
                    height: 60%;
                    width: 100%;
                    @include flex(center, center, row);

                    img{
                        width: auto;
                        height: 80%;
                    }    
                }
            }
        }

        .dashboard,
        .wichtel,
        .three{

            .inner-cach{

                .pic-container{

                    img{
                        width: 90%;
                        height: auto;
                    }
                }
            }
        }
    }
}