@use './styleHelper/' as *;
@use './components/' as *;
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $mainFont;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(145deg, $blue1, $blue3, $blue4);
    // overflow: hidden;
}

li{
    list-style: none;
    cursor: pointer;
}

a{
    text-decoration: none;
}

button,
input[type='submit']{
    cursor: pointer;
}

.start-title{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 10vmin;
    transition: ease-in-out 0.5s;

}

.gone{
    opacity: 0;
    pointer-events: none;
}